<%- include('header')%>

<section id="more">
  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="image col-md-4">

        <img src="<%=usrContent.imageUrl%>" alt="A random image">
        <form class="" id = "bookmark" action="/more" method="post">
            <a type = "submit "onclick = "myFunction()" class = "save" name="button">
              <i class="save bi bi-bookmark-fill"></i>
            </a>
            <input type="hidden" name="save" value= "<%=usrContent._id%>" >
        </form>
      </div>
      <div class="content col-md-8">
        <div class="container">
          <h5><%=usrContent.title%></h5>
          <p><%= usrContent.comment%></p>
          <br>
          <h5>Yourself</h5>
          <p><%= usrContent.yourself%></p>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
           function myFunction() {
               document.getElementById("bookmark").submit();
           }
</script>


<%- include('footer')%>
