<%- include('header')%>

<section id="more">
  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="image col-md-4">
        <img src="/<%=usrContent.imageUrl%>" alt="A random image">
      </div>
      <div class="content col-md-8">
        <h5><%=usrContent.title%></h5>
        <p><%= usrContent.comment%></p>
      </div>
    </div>
  </div>
</section>


<%- include('footer')%>
