<%-include('header')%>
  <body>

    <section id = "portfolio">
      <div class="container">
        <!-- <form class="" id="account" onclick = "myFunction()" action="/account" method="post"> -->
          <a><img class = "userImg" src="/css/image/user.png" alt=""></a>
         <!-- </form> -->
        <h3> Hello!</h3>
        <h5><%= user%></h5>
      </div>
    </section>



    <section id = "dashboard">
      <form class="" action="/yours" method="post">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <button class = "btn"type="submit" name="button" value = "shared" > Shared</button>
            </div>
            <div class="col-md-6">
              <button class = " btn"type="submit" name="button" value = "saved" > Saved </button>
            </div>
          </div>
          </div>
      </form>
    </section>

    <section id = "your-posts">
      <div class="container">
              <div class="row align-items-start">
                  <div class="left mb-5 ms-5 col-md-12">
                    <button class = "add btn btn-outline-danger"type="button" name="button" data-bs-toggle="modal" data-bs-target="#exampleModal">+</button>
                  </div>
            <%usrContent.forEach(ele=>{%>
                  <div class="col-md-4">
                    <div class="card mb-5" style="width: 18rem;">
                      <img src="<%=ele.imageUrl %>" class="card-img-top posts" alt="...">
                      <div class="card-body">
                        <h5 class="card-title"><%=ele.title%></h5>
                        <form class="" action="/community" method="post">
                          <button  type = "submit" class="btn btn-outline-danger" name = "more" value = "<%=ele._id%>" >Read More</button>
                        </form>
                      </div>
                    </div>
                  </div>
            <%})%>
            </div>
      </div>
    </section>



    <div class="modal modal-dialog modal-fullscreen " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        <div class="modal-body">
          <form action = "/" method = "post" id = "usrForm" enctype="multipart/form-data">
            <div class = "mb-3">
                <input class = "form-control" type = "file" name = "image" accept = "image/*">
           </div>
            <div class = "mb-3">
                <label class = "col-form-label" for = "title">Title</label>
                <input class = "form-control" type = "text" name = "title">
            </div>
            <div class = "mb-3">
                <label class = "col-form-label" for = "comments">Comments</label>
           <textarea class = "form-control" rows = 6 cols = 40 form = "usrForm" name = "comments">Add your comments</textarea>
            </div>
            <div class="">
              <label class="col-form-label" for = "yourself">More about yourself</label>
              <textarea class = "form-control" rows="6" cols="40" name="yourself">yourself/activities/backgrounds</textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Send</button>
          </div>
            </form>
        </div>
      </div>
      </div>

      <<script type="text/javascript">
        function myFunction(){
          document.getElementById('account').submit();
        }
      </script>
<%-include('footer')%>
